$messageFontColor: rgba(0, 0, 0, 0.88);
$defaultFontColor: rgb(24, 31, 56);
$buttonDefaultColor: rgb(16,16,16);
$buttonDefaultHoverColor: #409eff;
$buttonPrimaryBgColor: rgb(34,116,255);
$buttonPrimaryHoverBgColor: rgb(60,140,255);
$tableHeaderBgColor: #FAFAFA;

.tw-ai-delivery{
  &.tw-m-nav-bar {
    box-shadow: 0 8px 12px #ebedf0;
    .tw-m-nav-bar__title {
      color: #333;
      letter-spacing: 1px;
    }
  }
}
html{
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

// Element Message样式
.el-message{
  min-width: auto !important;
  background: #fff !important;
  padding: 9px 12px !important;
  border-radius: 8px !important;
  border: 0 !important;
  align-items: flex-start !important;
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),0 3px 6px -4px rgba(0, 0, 0, 0.12),0 9px 28px 8px rgba(0, 0, 0, 0.05) !important;
  .el-message__content{
    color: $messageFontColor !important;
    word-break: break-all;
    line-height: 1.5714285714285714;
  }
  .el-message__icon{
    font-size: 16px;
    line-height: 1.5714285714285714;
    margin-right: 8px;
    display: inline-flex;
  }
}

// Element Table样式
.el-table{
  .el-table__body-wrapper{
    // 不存在横向滚动条
    &.is-scrolling-none{
      &~.el-table__fixed-right{
        height: 100% !important;
      }
    }
    &~.el-table__fixed-right{
      height: calc(100% - 4px) !important;
    }
  }
  // 表头
  .el-table__header-wrapper{
    thead{
      color: $defaultFontColor;
    }
  }
  th{
    &.el-table__cell{
      background-color: $tableHeaderBgColor;
    }
  }
  // 固定在右侧的表头
  .el-table__fixed-right{
    thead{
      color: $defaultFontColor;
    }
  }
  // 表体
  .el-table__body-wrapper{
    .el-table__cell{
    }
  }
  // 固定时的表体
  .el-table__fixed-body-wrapper{
    .el-table__cell{
    }
  }
}

// Element 表单项样式
.tw-form-item{
  .tw-form-item-label{
    color: $defaultFontColor;
  }
}

// Element 按钮样式
.tw-button{
  .el-button{
    // 中尺寸
    &.el-button--small{
      font-size: 14px;
    }
    transition: .2s all linear;
    // 默认
    &.el-button--default{
      color: $buttonDefaultColor;
      &:hover,&:focus{
        color: $buttonDefaultHoverColor;
      }
    }
    // 主要
    &.el-button--primary{
      background-color: $buttonPrimaryBgColor;
      &:hover,&:focus{
        background-color: $buttonPrimaryHoverBgColor;
      }
    }
  }
}


// 页面容器
.page-container{
  background-size: cover !important;
  background-position: unset !important;
}

@media (max-width: 2879px) {
  #i88m6 {
    width: calc((100% - 80px) / 3) !important;
    height: 180px !important;
  }
}
@media (max-width: 1799px){
  #i88m6 {
    width: calc((100% - 40px) / 2) !important;
    height: 180px !important;
  }
}

@media (min-width: 2880px) {
  #i88m6 {
    width: calc((100% - 120px) / 4) !important;
    height: 180px !important;
  }
}
